<div class = "container">
  <%= link_to new_post_path, :class => "btn btn-success mb-4" do %>
    <i class="bi bi-plus-circle-fill"></i> New
  <% end %>

  <h1>Posts</h1>

  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <div class="btn-group mt-2 mb-4" role="group" aria-label="Post Actions">
        <%= link_to post, :class => "btn btn-primary" do %>
          <i class="bi bi-eye-fill"></i> Show
        <% end %>
      </div>
    <% end %>
  </div>
</div>
