<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "DVH", root_path, class:"navbar-brand silkscreen-regular mb-1 ps-3 pe-1 py-0", style:"font-family: Silkscreen; font-size: 1.5em"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item px-1">
          <%= link_to "About Me", root_path, class:"nav-link"%>
        </li>
        <li class="nav-item px-1">
          <%= link_to "Stock Portfolio", portfolios_path, class:"nav-link"%>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if false %>
          <%= render 'user/session_manager'%>
        <% end %>
      </ul>
    </div>
  </div>
</nav>